<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    输入的文本：<input type="text" v-model="message">{{message}}
    <hr>
    <input type="radio" name="sex" value="男" v-model="ftj"> 男
    <input type="radio" name="sex" value="女" v-model="ftj"> 女
    <p>
        选中了：{{ftj}}
    </p>
    <hr>
    下拉框
    <select v-model="ftj2">
        <option value="" disabled>---请选择---</option> <!--如果表达式的初始值未能匹配任何选项，IOS中元素会被渲染为“未选中”，不会触发change事件-->
        <option>A</option>
        <option>B</option>
        <option>C</option>
    </select>
    <span>value:{{ftj2}}</span>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            message: "123",
            ftj: '',
            ftj2:'C'
        }
    })
</script>
</body>
</html>